.header-navigation-logged-headernavigation {
  position: relative;
  align-items: center;
}
.header-navigation-logged-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
}
.header-navigation-logged-navlink {
  display: contents;
}
.header-navigation-logged-logo {
  text-decoration: none;
}
.header-navigation-logged-image {
  width: 32px;
  height: 32px;
}
.header-navigation-logged-nav {
  display: flex;
}
.header-navigation-logged-left {
  width: 100%;
}





@media(max-width: 991px) {
  .header-navigation-logged-headernavigation {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .header-navigation-logged-nav {
    display: none;
  }
}

.footer-footer {
  background-color: transparent;
}
.footer-text {
  color: var(--dl-color-gray-600);
  width: auto;
  height: auto;
  align-self: stretch;
  text-align: center;
  font-stretch: normal;
}




.create-project-step3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: stretch;
  flex-direction: column;
}
.create-project-step3-main {
  width: 100%;
  background-color: var(--dl-color-gray-25);
}
.create-project-step3-container1 {
  gap: 32px;
  display: flex;
  max-width: 520px;
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.create-project-step3-textandsupportingtext {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-text {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 44px;
}
.create-project-step3-text1 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.create-project-step3-form {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-formfields {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-inputfield {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-text2 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.create-project-step3-text3 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 20px;
}
.create-project-step3-inputfield1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-inputwithlabel1 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-text4 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.create-project-step3-text5 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 20px;
}
.create-project-step3-actions {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.create-project-step3-button {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 74, 70, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.create-project-step3-text6 {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.create-project-step3-button1 {
  gap: 8px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(207, 212, 220, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-base-white);
}
.create-project-step3-text7 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 24px;
}
@media(max-width: 1200px) {
  .create-project-step3-main {
    width: 100%;
    max-width: auto;
    background-color: var(--dl-color-gray-25);
  }
}
@media(max-width: 991px) {
  .create-project-step3-container {
    align-items: stretch;
  }
}
@media(max-width: 767px) {
  .create-project-step3-container {
    align-items: stretch;
  }
}
