.login-modal-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
}
.login-modal-page-wrapper {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-modal-modal {
  width: 100%;
}
.login-modal-container1 {
  width: auto;
}
.login-modal-lock01 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.login-modal-textandsupportingtext {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-modal-text {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.login-modal-alert {
  gap: 12px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 74, 70, 0.6000000238418579);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  background-color: var(--dl-color-primary-25);
}
.login-modal-textandsupportingtext1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-modal-infocircle {
  width: 20px;
  height: 20px;
}
.login-modal-text01 {
  color: var(--dl-color-gray-900);
}
.login-modal-text06 {
  color: var(--dl-color-gray-600);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Inter;
  font-weight: 400px;
  line-height: 20px;
  font-stretch: normal;
}
.login-modal-buttonclose-x {
  top: 12px;
  right: 12px;
  display: flex;
  padding: 10px;
  z-index: 1;
  overflow: hidden;
  position: absolute;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.login-modal-xclose {
  width: 24px;
  height: 24px;
}
.login-modal-frame-modalactions {
  padding-bottom: 24px;
}
.login-modal-socialbutton {
  text-decoration: none;
}
.login-modal-socialicon {
  width: 24px;
  height: 24px;
}
.login-modal-text07 {
  color: var(--dl-color-base-white);
  height: auto;
  font-style: normal;
  text-align: left;
  line-height: 24px;
  font-stretch: normal;
}
.login-modal-frame-modalactions1 {
  display: flex;
  padding: 24px 0 0;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-gray-200);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.login-modal-content {
  gap: 12px;
  display: flex;
  padding: 0 16px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-modal-wrap {
  gap: 12px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-gray-50);
}
.login-modal-text09 {
  color: var(--dl-color-gray-900);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.login-modal-actions {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.login-modal-link {
  display: contents;
}
.login-modal-mobileappstorebadge {
  width: 135px;
  height: 40px;
  text-decoration: none;
}
.login-modal-link1 {
  display: contents;
}
.login-modal-mobileappstorebadge1 {
  width: 135px;
  height: 40px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .login-modal-frame-modalheader {
    position: relative;
  }
  .login-modal-buttonclose-x {
    top: 12px;
    right: 12px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .login-modal-frame-modalheader {
    gap: 12px;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
  }
  .login-modal-text {
    color: var(--dl-color-gray-900);
  }
  .login-modal-text01 {
    color: var(--dl-color-gray-900);
  }
  .login-modal-buttonclose-x {
    top: 12px;
    right: 12px;
    position: absolute;
  }
  .login-modal-frame-modalactions {
    padding-left: 16px;
    padding-right: 16px;
  }
}
