.login-redirect-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  flex-direction: column;
}
.login-redirect-page-wrapper {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-redirect-content {
  gap: 12px;
  display: flex;
  padding: 20px 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-base-white);
}
.login-redirect-lock01 {
  top: 12px;
  left: 12px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.login-redirect-textandsupportingtext {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-redirect-text {
  color: var(--dl-color-gray-9002);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28px;
}
.login-redirect-text01 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 20px;
}
.login-redirect-sv-loadinganim {
  width: 48px;
  height: 48px;
}
.login-redirect-text02 {
  color: var(--dl-color-gray-600);
  height: auto;
  align-self: stretch;
  text-align: left;
}
.login-redirect-buttonclose-x {
  display: flex;
  padding: 10px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  justify-content: center;
}
.login-redirect-xclose {
  width: 24px;
  height: 24px;
}
.login-redirect-paddingbottom {
  height: 20px;
  display: flex;
  z-index: 2;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.login-redirect-content1 {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-redirect-socialbutton {
  gap: 12px;
  display: flex;
  padding: 10px 16px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(93, 74, 238, 1);
}
.login-redirect-socialicon {
  width: 24px;
  height: 24px;
}
.login-redirect-text06 {
  color: var(--dl-color-base-white);
  height: auto;
  font-style: normal;
  text-align: left;
  line-height: 24px;
  font-stretch: normal;
}
.login-redirect-frame-modalactions1 {
  display: flex;
  padding: 24px 0 0;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.login-redirect-dividerwrap {
  width: 343px;
  height: 17px;
  align-self: stretch;
}
.login-redirect-content2 {
  gap: 12px;
  display: flex;
  padding: 0 16px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.login-redirect-wrap {
  gap: 12px;
  display: flex;
  padding: 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: var(--dl-color-gray-50);
}
.login-redirect-text08 {
  color: var(--dl-color-gray-9002);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 28px;
}
.login-redirect-actions {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.login-redirect-link {
  display: contents;
}
.login-redirect-mobileappstorebadge {
  width: 135px;
  height: 40px;
  text-decoration: none;
}
.login-redirect-link1 {
  display: contents;
}
.login-redirect-mobileappstorebadge1 {
  width: 135px;
  height: 40px;
  text-decoration: none;
}
@media(max-width: 991px) {
  .login-redirect-frame-modalheader {
    position: relative;
  }
  .login-redirect-sv-loadinganim {
    align-self: center;
  }
  .login-redirect-text02 {
    color: var(--dl-color-gray-600);
    text-align: center;
  }
  .login-redirect-buttonclose-x {
    top: 12px;
    right: 12px;
    position: absolute;
  }
}
@media(max-width: 767px) {
  .login-redirect-textandsupportingtext {
    position: relative;
  }
  .login-redirect-text {
    color: var(--dl-color-gray-900);
  }
  .login-redirect-text02 {
    align-self: flex-start;
  }
  .login-redirect-buttonclose-x {
    top: 12px;
    right: 12px;
    position: absolute;
  }
  .login-redirect-dividerwrap {
    width: 100%;
  }
}
