.test-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.test-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.test-logo {
  height: 2rem;
}
.test-desktop-menu {
  display: flex;
}
.test-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.test-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.test-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.test-text03 {
  margin-left: var(--dl-space-space-twounits);
}
.test-text04 {
  margin-left: var(--dl-space-space-twounits);
}
.test-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.test-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.test-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.test-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.test-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.test-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.test-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.test-image {
  height: 2rem;
}
.test-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.test-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.test-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.test-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.test-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.test-login1 {
  margin-right: var(--dl-space-space-twounits);
}
.test-icon-group {
  display: flex;
}
.test-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.test-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.test-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .test-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .test-desktop-menu {
    display: none;
  }
  .test-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .test-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .test-text03 {
    margin-left: var(--dl-space-space-unit);
  }
  .test-text04 {
    margin-left: var(--dl-space-space-unit);
  }
  .test-btn-group {
    display: none;
  }
  .test-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .test-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .test-mobile-menu {
    padding: 16px;
  }
}
