.button-container {
  display: flex;
  position: relative;
}
.button-button {
  gap: 8px;
  width: 100%;
  display: flex;
  padding: 10px 18px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 74, 70, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  background-color: var(--dl-color-primary-600);
}
.button-button:hover {
  background-color: var(--dl-color-primary-700);
}
.button-text {
  color: var(--dl-color-base-white);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.button-root-class-name {
  width: auto;
  align-self: stretch;
}
