.footer-footer {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  padding-top: 48px;
  padding-left: 16px;
  padding-right: 16px;
  flex-direction: column;
  padding-bottom: 48px;
  background-color: var(--dl-color-base-white);
}
.footer-text {
  color: rgba(102, 112, 132, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-family: Inter;
  font-weight: 400px;
  line-height: 24px;
  font-stretch: normal;
}
@media(max-width: 767px) {
  .footer-footer {
    padding-top: 48px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
  }
}
