<div>
  <link href="./header-navigation-logged.css" rel="stylesheet" />
  <header class="header-navigation-logged-headernavigation navbar-component">
    <div
      data-role="Header"
      class="header-navigation-logged-header navbar-container"
    >
      <a
        href="projects-search-logged.html"
        class="header-navigation-logged-navlink"
      >
        <div class="header-navigation-logged-logo logo">
          <div class="logomark">
            <img
              alt="ContentI763"
              src="public/external/contenti763-n5sa.svg"
              class="header-navigation-logged-image"
            />
          </div>
        </div>
      </a>
      <nav class="header-navigation-logged-nav navbar">
        <div class="header-navigation-logged-left navbar-menu-left">
          <a
            href="https://example.com"
            target="_blank"
            rel="noreferrer noopener"
            class="TextmdSemibold navbar-link"
          >
            <span>My projects</span>
          </a>
          <a
            href="https://example.com"
            target="_blank"
            rel="noreferrer noopener"
            class="TextmdSemibold navbar-link"
          >
            <span>My loans</span>
          </a>
        </div>
        <div class="navbar-menu-right">
          <a
            href="https://example.com"
            target="_blank"
            rel="noreferrer noopener"
            class="header-navigation-logged-link2 TextmdSemibold button"
          >
            <span>Start a project</span>
          </a>
        </div>
      </nav>
      <div data-role="BurgerMenu" class="navbar-menu-button">
        <div class="menu-icon">
          <img alt="menu02I763" src="public/external/menu02i763-3oc9.svg" />
        </div>
      </div>
    </div>
  </header>
</div>
