<div>
  <link href="./header-navigation.css" rel="stylesheet" />
  <header class="header-navigation-headernavigation navbar_component">
    <div class="navbar_container">
      <div class="header-navigation-logo">
        <div class="header-navigation-logowrap">
          <div class="header-navigation-logomark">
            <a href="https://socious.io" class="header-navigation-link">
              <img
                alt="ContentI763"
                src="public/external/contenti763-n5sa.svg"
                class="header-navigation-image"
              />
            </a>
          </div>
        </div>
      </div>
      <button class="navbar_menu-button">
        <img
          alt="menu02I763"
          src="public/external/menu02i763-3oc9.svg"
          class="menu-icon"
        />
      </button>
    </div>
  </header>
</div>
