<div>
  <link href="./header-navigation-unlogged.css" rel="stylesheet" />
  <header class="header-navigation-unlogged-headernavigation navbar_component">
    <div
      data-role="Header"
      class="header-navigation-unlogged-header navbar_container"
    >
      <a
        href="projects-search-unlogged.html"
        class="header-navigation-unlogged-navlink"
      >
        <div class="header-navigation-unlogged-logo logo">
          <div class="logomark">
            <img
              alt="ContentI763"
              src="public/external/contenti763-n5sa.svg"
              class="header-navigation-unlogged-image"
            />
          </div>
        </div>
      </a>
      <nav class="header-navigation-unlogged-nav navbar">
        <div class="navbar_menu-right">
          <div class="navbar_button-wrapper">
            <a
              href="https://example.com"
              target="_blank"
              rel="noreferrer noopener"
              class="TextmdSemibold button-tertiary-gray"
            >
              <span>Log in</span>
            </a>
            <a
              href="https://example.com"
              target="_blank"
              rel="noreferrer noopener"
              class="TextmdSemibold button"
            >
              <span>Start a project</span>
            </a>
          </div>
        </div>
      </nav>
      <div data-role="BurgerMenu" class="navbar_menu-button">
        <div class="menu-icon">
          <img alt="menu02I763" src="public/external/menu02i763-3oc9.svg" />
        </div>
      </div>
    </div>
  </header>
</div>
